/* CSS Document */
/* color red */ /* #b41423 */

a, a:hover, #site-title a:hover, .entry-title a:hover, #recentcomments li a, .widget ul li .rsswidget, .edit-i a, .comment-awaiting-moderation {
	color: #b41423;
}
nav, nav ul ul, .postformat, .page-header, .widget-title {
	background: #b41423 url(line.png) top left repeat-x;
}
.left-corner, .right-corner {
	background: transparent url(corners.png);
}

.entry-title a:hover, #copy a:hover, .comment-i a:hover, .author-i a:hover, #recentcomments li:hover  {
	border-bottom:  1px dashed #b41423;
}
.widget ul li a:hover {
	border-bottom:  1px dashed #b41423;
	color: #b41423;
	}
#submit, #searchform #searchsubmit {
	background: #b41423 url(line.png) top left repeat-x;
	border: 1px solid #b41423;
}
#wp-calendar a, #wp-calendar #prev a:hover, #wp-calendar #next a:hover {
	background: #b41423 url(line.png) bottom left repeat-x;
	}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {color: #b41423;}